<section class="hero-image bg-cover bg-center h-screen" style=" background-position: top; background-image: url('<%= asset_path('lion.jpg') %>')">
  <div class="max-w-7xl mx-auto">
    <div class="relative px-6 pt-14 lg:px-8">
      <div class="absolute inset-0 -z-10 blur-3xl">
        <div class="bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30"></div>
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56 -mt-20">
        <div class="text-center">
          <h1 class="text-4xl font-semibold tracking-tight text-white sm:text-6xl">Thoughts & Fitness</h1>
          <p class="mt-6 text-lg leading-8 text-gray-200">Build Your Dream Body</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <%= link_to "Get Started", root_path, class: "rounded-md bg-red-600 px-8 py-4 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" %>
            <%= link_to "Join Now", root_path, class: "rounded-md bg-blue-600 px-8 py-4 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" %>
          </div>
          <p class="mt-6 text-lg leading-8 text-gray-200">Success is nothing more than more than a few simple disiplines, practiced every day!</p>
          <h4 class="text-2xl font-semibold tracking-tight text-red-500 sm:text-2xl">Fitness</h4>
        </div>
      </div>
    </div>
  </div>
</section>